<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload your file!</title>
</head>
<body>

    <form name="logoutForm" method="post" action="logout">
        <p><INPUT type="submit" value="Logout" name="logout"></p>
   </form>

    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data action="upload">
        <input type=file name=file >
        <input type="text" name="policy">
        <input type=submit value=Upload >
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

</body>
</html>